<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{{apitoken}}">
    <meta name="apihost" content="{{apihost}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <title>{{app_name}}</title>    
    <script type="text/javascript">eval('function x(n){const s=document.createElement(\'script\');s.setAttribute(\'src\',window.location.protocol+\'//{{statics}}\'+n);document.head.appendChild(s);}x(\'/dist/main.js\');')</script>
</head>

<body>
    <div id="root"></div>
</body>

</html>